.dropzone {
    position:relative;
    margin-bottom:-40px;
    z-index:1;
    height:40px;
    &:last-child {
        margin-bottom:0px;
    }
    &.active {
        margin-bottom:0px;
        background-color:white;
        border: 2px dashed gray;
    }
}